{% extends "base.html" %}
{% block content %}

<h1>Anfahrt</h1>
<h2 class="margin-top-bottom">Lage</h2>
<p>
    Auf dem Berg zwischen Obstwiesen und Mischwäldern zwischen Saalfeld und Rudolstadt liegt das kleine Dorf Schloßkulm.
    Es gibt zwar kein Schloss mehr, aber 14 Fachwerkhäuser und ein zentrales Backhaus. Ca. 50 Einwohner*innen beleben
    diesen Ort und bewirtschaften die umliegenden Ländereien. Die Anbindung nach Erfurt, Jena, Weimar und in den
    Thüringer Wald ist sehr gut und führt durch traumhafte Landschaften.<br><br>
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20221.18692106917!2d11.35741292675769!3d50.689351748007944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a3fdeb7b812231%3A0xa208ec40a0bff40!2s07407%20Uhlst%C3%A4dt-Kirchhasel-Schlo%C3%9Fkulm!5e0!3m2!1sde!2sde!4v1715624132684!5m2!1sde!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h2 class="margin-top-bottom">Verkehrsmittel</h2>
<p>
    Wer mit dem Fahrrad anreisen möchte, benötigt durchaus trainierte Beine oder viel Geduld beim Schieben…<br>
    Öffentlicher Nahverkehr ist auf eine Schulbuslinie beschränkt und leider nicht zu empfehlen.<br><br>
</p>
<h2 class="margin-top-bottom">Einkaufen</h2>
<p>
    Im Dorf gibt es keinerlei Geschäfte! Eier können auf Anfrage selbst im Dorf geholt werden.<br>
    Die nächsten Lebensmittelgeschäfte gibt es in Rudolstadt (auch Bioladen)/Saalfeld (auch teegut)/Etzelbach
    (Hofladen).
</p>
{% endblock %}