{% extends "base.html" %}

{% block title %}Contact - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<h1>Contact</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <p>If you should have any questions about the apartments, the region
        or need any other information you are most welcome to contact us!</p>
      <form id="contactForm" method="post" action="{% url 'contact' %}" autocomplete="on">
        {{ contact_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit" class="btn btn-purple border-dark">Submit</button>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="px-5">
        If you should have any questions about the apartments, the region or need any other information<br>
        you are most
        welcome to contact us!
      </p>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <form>
        <div class="mb-3">
          <label for="inputYourName">Your Name</label>
          <input type="text" placeholder="Your Name" class="form-control" id="inputYourName"  maxlength="200" required>
      </div>
        <div class="mb-3">
          <label for="contactForm" class="form-label">Your E-Mail Address</label>
          <input type="email" placeholder="E-Mail Address" class="form-control" id="contactForm" maxlength="200"
            required>
        </div>
        <div class="mb-3">
          <label for="contactFormTextarea" class="form-label">Message</label>
          <textarea class="form-control resize-none" placeholder="Your Message" id="contactFormTextarea" rows="5" maxlength="4000"
            placeholder="Your message" required></textarea>
        </div>
        <button type="button" class="btn btn-purple border-dark">Send</button>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>-->

{% endblock %}