{% extends "base.html" %}
{% block content %}

<h1>Obere Ferienwohnung</h1>

<p>Liebe Gäste,<br><br>

    herzlich willkommen in unserem urigen Lehmhaus! Direkt am Waldrand erwartet euch ein traumhafter Ort voller wilder
    Blumen, Vogelgesang, das Rauschen der Bäume und nette Hosts. Hier sind schon viele Menschen und Generationen
    zusammen gekommen und konnten Energie und Freude tanken.<br><br>

    Auch wenn nur noch das Fundament dieser ausgebauten Scheune vom Schloßkulm erzählt, so sind es doch diese alten
    Steine die diesen Urlaubs- oder auch Rückzugsort zu etwas Einzigartigem machen. Wenn ihr diese Worte bei Youtube
    einsetzt seht ihr ein kleinen Film von dem Ort von oben: Schloßkulm Gemeinde
    Uhlstädt-Kirchhasel / Thüringen.
</p>

<h3>Die Unterkunft</h3>
<p>
    Im Haus erwartet euch eine reduzierte Ausstattung, viel Holz und Lehm, einen Holzofen, der in kalten zeiten beheizt
    werden muss (Wasser und Heizung sind wasserführend mit Ofen verbunden) und originelle Möbel. Es ist ein altes Haus,
    dass nur im Notwendigsten saniert wurde. Für große Kochaktionen ist alles vorhanden und bei den Hosts erfragbar. Im
    Garten kann nach Regenfällen und in Absprache mit den Hosts Feuer gemacht und gegrillt werden (ansonsten
    Brandgefahr!!!!!)
    .<br><br>

    Zu Eurer Eingangstür müsst ihr zur Veranda hochgehen. (Bitte nicht mit der Eingangstür zur unteren Ferienwohnung
    verwechseln!). Im Innern erwartet euch rustikale Gemütlichkeit. Das Bett im kleinen Zimmer ist 2x1,40 m und im
    großen Zimmer 2x1,60 m breit. Im großen Zimmer können noch mehrere
    Matratzen aufgebettet werden. Decken sind vorhanden, Bettwäsche und Handtücher ebenso.
    <br><br>
    Der Garten ist vor allem auch für Familien mit Kindern ein Segen, da hier keine Straße überquert werden muss, um ins
    Grüne oder in den Wald zu gelangen. Wer mit Hund anreisen möcht bucht bitte die Rittersuite 2 dazu.
    <br><br>

    <h3>Weitere wichtige Hinweise</h3>
    <p>
        Auch längere Aufenthalte lohnen sich. Das Internet ist meistens stabil, kaum Ablenkung, aber viele Möglichkeiten
        Pausen gut zu nutzen - das ermöglicht auch Arbeitsaufenthalte und Planungstreffen, sowie erholsame
        Familienurlaube. Ihr
        findet hier auf zwei Etagen ein einfaches und gemütliches Zuhause.
    </p>
    <br>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Verschärfter Brandschutz!!!</li>
        <li class="list-group-item">Rauchverbot im Haus!</li>
        <li class="list-group-item">Lagerfeuer und Grill verboten im Garten!</li>
        <li class="list-group-item">Im Haus maximal eine Kerze oder ein Teelicht unter Aufsicht auf feuerfester
            Unterlage oder auf sicherem Ständer!</li>
        <li class="list-group-item">Keine brennbaren Gegenstände über dem Ofenblech bis zur Decke und 1m vor dem Ofen!
        </li>
        <li class="list-group-item">Waldbrandwarnstufe beachten!</li>
    </ul>
    <br>
    <h3>Ausstattung</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">meist stabiles Internet</li>
        <li class="list-group-item">Küche mit Elektrokochplatten und Backröhre</li>
        <li class="list-group-item">Küchenzubehör für viele Menschen</li>
        <li class="list-group-item">Wasserkocher, Kühlschrank, Geschirrspülmaschine</li>
        <li class="list-group-item">Bad mit Badewanne</li>
    </ul>

    <h3>Gallerie</h3>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="col-sm">
                <div class="gallery">
                    <a target="_blank" href="../../" aria-label="Picture opens in a new window">
                        <img src="../../" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}