{% extends "base.html" %}
{% block content %}

<h1>Obere Ferienwohnung</h1>

<h2>Ausstattung:</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item">meist stabiles Internet</li>
    <li class="list-group-item">Küche mit Elektrokochplatten und Backröhre</li>
    <li class="list-group-item">Küchenzubehör für viele Menschen</li>
    <li class="list-group-item">Wasserkocher, Kühlschrank, Geschirrspülmaschine</li>
    <li class="list-group-item">Bad mit Badewanne</li>
</ul>

{% endblock %}