{% extends "base.html" %}
{% block content %}

<h1>Untere Ferienwohnung</h1>

<h2>Ausstattung:</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item">meist stabiles Internet</li>
    <li class="list-group-item">Küche mit Ceranfeld, Kühlschrank, Wasserkocher, Geschirr für 4 Personen (plus Besuch)</li>
    <li class="list-group-item">Küchenhexe (Kochringe und Backröhre)</li>
    <li class="list-group-item">Waschmaschine und Trockner</li>
    <li class="list-group-item">Dusche (mit Warmwasserboiler)</li>
</ul>

{% endblock %}