{% extends "base.html" %}
{% block content %}

<h1>Galerie</h1>

<h3 class="margin-top-bottom">Das Haus & Umgebung</h3>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg"
            alt="Cinque Terre">
        </a>
        <div class="desc">Die Treppe zum Eingang zur oberen Ferienwohnung</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg" alt="Forest">
        </a>
        <div class="desc">Das Fachwerkhaus von außen</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg"
            alt="Northern Lights">
        </a>
        <div class="desc">Die Treppe zum Eingang zur oberen Ferienwohnung</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg" alt="Mountains">
        </a>
        <div class="desc">Vor dem Hauseingang</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg" alt="Mountains">
        </a>
        <div class="desc">Unsere Veranda-Wächter*in</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Das Fachwerkhaus von außen</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Der Garten</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg" alt="Mountains">
        </a>
        <div class="desc">Abendlich-festliche Stimmung im Garten</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-6.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-6.jpg" alt="Mountains">
        </a>
        <div class="desc">Das Fachwerkhaus im Sonnenschein</div>
      </div>
    </div>

  </div>
</div>

<h3 class="margin-top-bottom">Schloßkulm - Ort und Natur</h3>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Frühling in Schloßkulm</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg" alt="Mountains">
        </a>
        <div class="desc">Die Dorfmitte. Hier gibt es genug Platz zum Parken.</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Frühling in Schloßkulm</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg" alt="Mountains">
        </a>
        <div class="desc">Unser Herzblatt</div>
      </div>

      <div class="col-sm">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg"
              alt="Mountains">
          </a>
          <div class="desc">Die Natur um Schloßkulm</div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg"
            alt="Mountains">
        </a>
        <div class="desc">Rechts oben ist unser Haus zu sehen :)</div>
      </div>

      <div class="col-sm">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg"
              alt="Mountains">
          </a>
          <div class="desc">Schloßkulm aus der Vogelperspektive</div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg"
            alt="Mountains">
        </a>
        <div class="desc">Die Natur um Schloßkulm</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg" alt="Mountains">
        </a>
        <div class="desc">Die Straße zum Dorf</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg"
            aria-label="Picture opens in a new window" alt="Mountains">
        </a>
        <div class="desc">Der Dorfteich</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank"
          href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg"
            alt="Mountains">
        </a>
        <div class="desc">Schloßkulm in Vogelperspektive</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}