{% extends "base.html" %}
{% block content %}

<h1>Gallerie</h1>

<h3>Das Haus & Umgebung</h3><br>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg"
            alt="Cinque Terre">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg" alt="Forest">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg"
            alt="Northern Lights">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-6.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-6.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

  </div>
</div>

<h3>Schloßkulm - Ort und Natur</h3><br>

<div class="container">
  <div class="row">

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-1.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-2.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blüten-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg" aria-label="Picture opens in a new window" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg" aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg" alt="Mountains">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}