{% extends "base.html" %}
{% block content %}

<h1>Hausmietung</h1>

<p>Unser Haus kann auch im Gesamten gemietet werden.<br>Die beiden Ferienwohnungen lassen sich verbindend öffnen.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Workshops</li>
    <li class="list-group-item">Seminare</li>
    <li class="list-group-item">Festlichkeiten</li>
    <li class="list-group-item">Freundes-und Familientreffen</li>
    <li class="list-group-item">Wandergruppen (auch Fastenwandergruppen)</li>
</ul>
    <p>
    Spezielle Angebote können auch auf unserer Festivalwiese mit Bühne und Pizzaofen oder im Garten stattfinden.
    <br>
    In unseren alten ausgebauten Scheune ist die Wohnsituation sehr intim. Doppelbetten müssen geteilt, Matrazen ausgelegt und die Spitzböden erklommen werden.
    </p>

{% endblock %}