{% extends "base.html" %}
{% block content %}

<h1>Hausmietung</h1>

<p>Unser Haus kann auch im Gesamten gemietet werden.<br>Die beiden Ferienwohnungen lassen sich verbindend öffnen.</p>
<ul>
    <li>Workshops</li>
    <li>Seminare</li>
    <li>Festlichkeiten</li>
    <li>Freundes-und Familientreffen</li>
    <li>Wandergruppen (auch Fastenwandergruppen)</li>
</ul>
    <p>
    Spezielle Angebote können auch auf unserer Festivalwiese mit Bühne und Pizzaofen oder im Garten stattfinden.
    <br>
    In unseren alten ausgebauten Scheune ist die Wohnsituation sehr intim. Doppelbetten müssen geteilt, Matrazen ausgelegt und die Spitzböden erklommen werden.
    </p>

{% endblock %}