{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Willkommen in Schloßkulm</h1>
        <p>Liebe Gäste,
            <br><br>herzlich willkommen in unserem urigen Lehmhaus am Wald. Wilde Blumen, Vogelgesang, das Rauschen der Bäume, das Knacken des Ofens und nette Hosts begleiten euch durch eure Schloßkulmzeit. Hier sind schon viele Menschen und Generationen zusammen gekommen und konnten Energie und Freude tanken.
            Menschen, die nach neuen Lebensformen suchten, Menschen aus dem Dorf, Wandernde und Reisende haben den Ort seit 50 Jahren über den Systemwechsel hinweg mitgedacht und mitgestaltet.<br><br>Jetzt haben wir (Anna Barth und Friedel Barth) die Verantwortung übernommen, diesen Ort weiter zu leben und mit Sinn für dessen Geschichte zu pflegen. Für uns bedeutet das vor allem Einzuladen. Euch einzuladen hier eine gute Zeit zu verbringen! Als Gäste tragt ihr wesentlich zur Erhaltung des Ortes und seiner Atmosphäre bei. 
            Wer mag, kann sich einbringen, mitmachen… braucht ihr eine körperlich entlastende Holzaktion? Einen ruhigen Spaziergang auf Empfehlung? Neuen Input, weil ihr endlich mal dazu kommt, zu reflektieren? Einen geschützten Raum, um Ungewohntes auszuprobieren? Sprecht uns gern an! 
            Und natürlich freuen wir uns über jede:n, der:die ausgiebig für die eigene Erholung sorgt.
            <br><br>
            Wir freuen uns auf euch!
            <br><br>
            Friedel, Anna & Jonathan
            </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12"></div>
  </div>

{% endblock %}