{% extends "base.html" %}
{% block content %}

<h1>Initiativen</h1>

<ul>
    <li>Heimat-und Streuobstwiesenverein Schloßkulm</li>
    <li>Mothek</li>
    <li>Coaching Friedel Barth</li>
    <li>Maze tools und Ectoplastic</li>
    <li>Karoline Schneider (Künstlerin)</li>
    <li>Sinn und Unsinn Charlotte Janus</li>
    <li>Robert Dobe</li>
    <li>Jugendforum Saalfeld</li>
    <li>Jugendclub Uhlstädt (Gemeinde)</li>
    <li>Lars Kuschmirz</li>
    <li>Hof9 Mötzelbach</li>
    <li>Anke Wiedemann</li>
    <li>Niedermühle Kapellendorf</li>
    <li>Clodramühle</li>
</ul>

{% endblock %}