{% extends "base.html" %}
{% block content %}

<h1>Contact</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="px-5">
        If you should have any questions about the apartments, the region or need any other information<br>
        you are most
        welcome to contact us!
      </p>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <form>
        <div class="mb-3">
          <label for="contactForm" class="form-label">Your e-mail address</label>
          <input type="email" class="form-control" id="contactForm" placeholder="name@example.com" maxlength="200"
            required>
        </div>
        <div class="mb-3">
          <label for="contactFormTextarea" class="form-label">Message</label>
          <textarea class="form-control resize-none" id="contactFormTextarea" rows="5" maxlength="4000"
            placeholder="Your message" required></textarea>
        </div>
        <button type="button" class="btn btn-purple border">Send</button>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>

{% endblock %}