{% extends "base.html" %}
{% block content %}

<h1>Preise</h1>

<div class="card">
    <div class="card-header">
        <h3>Obere Ferienwohnung</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Kosten</h5>
        <p class="card-text">
            1-2 Personen: 72€ pro Nacht<br>
            Ab 3. Person: 14€ pro Nacht und Person<br>
            Zzgl. 50€ Reinigung
        </p>
        <a href="{% url 'ferienwohnung-oben' %}" class="btn btn-success">Obere Ferienwohnung</a>
    </div>
</div>
<br>

<div class="card">
    <div class="card-header">
        <h3>Untere Ferienwohnung</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Kosten</h5>
        <p class="card-text">
            1-2 Personen: 58€ pro Nacht<br>
            Ab 3. Person: 14€ pro Nacht<br>
            Zzgl. 50€ Reinigung
        </p>
        <a href="{% url 'ferienwohnung-unten' %}" class="btn btn-success">Untere Ferienwohnung</a>
    </div>
</div>
<br>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Alle Kinder ab 3 Jahren zählen / zahlen bei uns wie zusätziche Erwachsene 14€.</li>
    <li class="list-group-item">Aktuelle Info zum Tanzfest: Zum Tanzfest und Silvester vermieten wir das Haus nur komplett (Rittersuite 1+2) für max. 15 Personen, max. 5 Tage,
        Festpreis 1000€.</li>
</ul>

{% endblock %}