{% extends "base.html" %}
{% block content %}

<h1>Projektarchiv</h1>

<p>
    Seit 2022 finden in den Sommerferien Workshops für Jugendliche statt. Wir sind dabei ein kleines Festival aufzubauen
    und wollen zukünftig weitere Workshops anbieten.
    <br><br>
    Die MOTHEK ist das mobile Bibliotheks-und Ausstellungsprojekt von Anna. Mehr erfahrt ihr unter <a href="https://mothek.de/" target="_blank" aria-label="Besuche unsere Mothek Homepage (Seite öffnet sich in einem neuen Fenster)." noopener>www.mothek.de</a> und auf
    Instagram unter <a href="https://www.instagram.com/mothek104" target="_blank" aria-label="Besuche unsere Mothek Instagram Seite (öffnet sich in einem neuen Fenster)." noopener>@mothek104</a>
    <br><br>
    Wir befinden uns im Aufbau eines Vereines.
    <br><br>
</p>
<ul>
    <li>2022 August MOOS- Party, Konzert und Videoinstallationen</li>
    <li>2023 Juni Geburtstagsfeier und Konzert auf Festivalwiese</li>
    <li>2023 August Pizzaofeneinweihung</li>
    <li>2024 Januar Shibari-Workhop (für Erwachsene)</li>
    <li>2024 April Programmierworkshop (für Kinder)</li>
    <li>2024 Juni Brennofenbau</li>
    <li>2024 Juli Thetaerwoche mit Aufführung und Konzerten</li>
</ul>


{% endblock %}