{% extends "base.html" %}
{% block content %}

<h1>Tagesausflüge</h1>
<h2>Aktivitäten</h2>
<ul>
    <li>Wanderrouten</li>
    <li>Spaßbaad Saalemax</li>
    <li>Theater Rudolstadt</li>
    <li>Meininger Hof Saalfeld</li>
    <li>Orangerie Saalfeld</li>
    <li>Kulturhof Mötzelbach</li>
    <li>Kulturhof Bechstedt</li>
    <li>Haus Döschnitz</li>
    <li>Saaleradwanderweg</li>
    <li>Flößen</li>
    <li>Reiten</li>
    <li>Paddeln</li>
</ul>
<br>
<h2>Sehenswürdigkeiten</h2> 
<ul>
    <li>Kulmberg</li>
    <li>Preilipper Kuppe</li>
    <li>Heidecksburg</li>
    <li>Schwarzburg</li>
    <li>Schillerhaus</li>
    <li>die Pilze im Herbst</li>
</ul>
<br>
<h2>Spezielles</h2>
<ul>
    <li>Orchideengebiet</li>
    <li>Streuobstwiesen</li>
    <li>Teichlandschaft</li>
</ul>

{% endblock %}