{% extends "base.html" %}
{% block content %}

<h1>Day Trips</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="margin-top-bottom">Activities</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Hiking</li>
                <li class="list-group-item">Swimming Bath Saalemax</li>
                <li class="list-group-item">Theater Rudolstadt</li>
                <li class="list-group-item">Meininger Hof Saalfeld</li>
                <li class="list-group-item">Orangerie Saalfeld</li>
                <li class="list-group-item">Kulturhof Mötzelbach</li>
                <li class="list-group-item">Kulturhof Bechstedt</li>
                <li class="list-group-item">Haus Döschnitz</li>
                <li class="list-group-item">Saaleradwanderweg (Cycling/Hiking Route)</li>
                <li class="list-group-item">Picking Mushrooms in Autumn</li>
                <li class="list-group-item">Timber Rafting</li>
                <li class="list-group-item">Horse Riding</li>
                <li class="list-group-item">Canoeing</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Places of Interest</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Kulmberg (Mountain)</li>
                <li class="list-group-item">Preilipper Kuppe (Mountain)</li>
                <li class="list-group-item">Heidecksburg</li>
                <li class="list-group-item">Schwarzburg</li>
                <li class="list-group-item">Schillerhaus</li>
            </ul>
            <h2 class="margin-top-bottom">Miscellaneous</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Blassenberg - Orchideengebiet (Orchid Area)</li>
                <li class="list-group-item">Traditional Orchards</li>
                <li class="list-group-item">Pond Landscapes</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="margin-top-bottom">Eating Out</h2>
        <ul class="list-group list-group-flush rounded-corners">
            <li class="list-group-item">Kulmberghaus Beer Garden & Restaurant</li>
            <li class="list-group-item">Marienturm Restaurant</li>
            <li class="list-group-item">Mit Brot & Seele Café and Bar</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}