{% extends "base.html" %}
{% block content %}

<h1>Tagesausflüge</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="margin-top-bottom">Aktivitäten</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Wanderrouten</li>
                <li class="list-group-item">Spaßbaad Saalemax</li>
                <li class="list-group-item">Theater Rudolstadt</li>
                <li class="list-group-item">Meininger Hof Saalfeld</li>
                <li class="list-group-item">Orangerie Saalfeld</li>
                <li class="list-group-item">Kulturhof Mötzelbach</li>
                <li class="list-group-item">Kulturhof Bechstedt</li>
                <li class="list-group-item">Haus Döschnitz</li>
                <li class="list-group-item">Saaleradwanderweg</li>
                <li class="list-group-item">Flößen</li>
                <li class="list-group-item">Reiten</li>
                <li class="list-group-item">Paddeln</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Sehenswürdigkeiten</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kulmberg</li>
                <li class="list-group-item">Preilipper Kuppe</li>
                <li class="list-group-item">Heidecksburg</li>
                <li class="list-group-item">Schwarzburg</li>
                <li class="list-group-item">Schillerhaus</li>
                <li class="list-group-item">Die Pilze im Herbst</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Spezielles</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Orchideengebiet</li>
                <li class="list-group-item">Streuobstwiesen</li>
                <li class="list-group-item">Teichlandschaft</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}