{% extends "base.html" %}
{% block content %}

<h1>Über uns</h1>

<p>Bild von Anna (und Jo, wenn er mag)
<br><br>
    Wir, Anna und Jonathan mit unseren beiden Kindern, leben im Haus nebenan und sind für Euch Ansprechpartner*innen. Anna ist Künstlerin und sehr aktiv in der Region. Jonathan kennt sich bestens mit energetisch sinnvollen Baumaßnahmen aus. Für ein Gespräch am Feuer ist es selten zu spät…
<br><br>
    Bild von Friedel
<br><br>
    Ich bin Friedel Barth, Lehrerin, Hypnose- und Stimmcoachin. Meine Erlebnisse in Schloßkulm haben mich mein Leben lang begleitet. Wachsen, Zurückziehen, Loslassen und Verbinden - heute freue ich mich immer noch Teil dieses Ortes sein zu können und bin gespannt, welchen Persönlichkeiten und Erfahrungen mir als Hostin und Coachin noch begegnen werden.
    </p>

{% endblock %}