@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

/* General Styles */

* {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

body {
  padding-top: 65px;
  padding-bottom: 65px;
  margin: 0 2rem;
  background-color: #ececeb;
}

h1 {
  margin: 0.5rem 0 2rem;
}

.margin-top-bottom {
  margin: 1rem 0 2rem;
}

/* Nav Bar */

nav {
  background-color: #cbc0d3;
}

nav a {
  margin: 0 0.5rem;
  font-weight: 400;
}

nav div a {
  font-style: italic;
}

.nav-margin {
  margin: 0 1rem;
}

/* Footer */

footer {
  background-color: #cbc0d3;
  color: black;
  height: 2rem;
  font-style: italic;
}

/* Obere and Untere Ferienwohnung Section */

.accordion {
  --bs-accordion-active-bg: #cbc0d3;
  --bs-accordion-border-color: #000;
}

/* Über Uns section */

.about-me-size {
  height: 20rem;
  width: 18rem;
}

/* CSS Image Gallery */
/* https://www.w3schools.com/css/css_image_gallery.asp */

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Contact Section */

.form-width {
  max-width: 50%;
}

.resize-none {
  resize: none;
}