@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

/* General Styles */

* {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

body {
  background-color: #ececeb;
  background-image: url("../images/hintergrundbilder/lila.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

main {
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin: 0 2rem;
}

h1 {
  margin: 0.5rem 0 2rem;
}

.margin-top-bottom {
  margin: 1rem 0 2rem;
}

.btn-purple {
  background-color: #cbc0d3;
}

.btn-purple:hover,
.btn-purple:focus {
  background-color: grey;
  color: white;
  font-weight: bold;
}

/* Hover CSS */
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Nav Bar and Header */

nav {
  /*background-color: #cbc0d3;*/
  background-color: #E5E4E2;
  
}

nav a {
  margin: 0 0.5rem;
  font-weight: 400;
  color: #fff;
}

.nav-margin {
  margin: 0 1rem;
}

/*.navbar-brand {
  --bs-navbar-brand-color: #fff;
}

.navbar {
  --bs-navbar-color: #fff;
}*/

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #cbc0d3;
  font-weight: bold;
}

.header-width {
  width: 100%;
  height: auto;
}

.rounded-corners {
  border-radius: 1.3rem!important;
}

/* Footer */

footer {
  /*background-color: #cbc0d3;*/
  background-color: #E5E4E2;
  color: black;
  height: 2.2rem;
}

/* Obere und untere Ferienwohnung Section */

.accordion {
  --bs-accordion-active-bg: #cbc0d3;
  --bs-accordion-border-color: grey;
}

/* Über Uns Section */

.about-me-size {
  height: 20rem;
  width: 18rem;
}

/* CSS Image Gallery */
/* https://www.w3schools.com/css/css_image_gallery.asp */

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Contact Section */

.form-width {
  max-width: 50%;
}

.resize-none {
  resize: none;
}